h2 { color:#060 }

.long-text { text-align:justify; }

table#song { float:left; margin-right:15px; font-weight:bold; }
#our-text { color:#cfc; background-color:#696;padding:15px; }
#orig-text { color:#ccf; background-color:#669;padding:15px; }



