h2 { color: #060; text-shadow:#666 3px 3px 3px; }
h3 { color: #060; text-shadow:#666 2px 2px 2px; }


.co-intro { width: 100%; margin:40pt 0 0 0; padding:0; }

.co-box { width: 100%; margin:40pt 0 20pt 0; padding:20pt; background-color: #eee; text-align: center; font-weight: bold; }

/*
.co-product-headline { width: 100%; margin:20pt 0 10pt 0; padding:20pt; background-color: #eee; text-align: center; font-weight: bold; }
.co-product-detail { width: 100%; margin:20pt 0 10pt 0; padding:20pt; background-color: #eee; text-align: left; }
*/

#realy { float:right;color:#f00; background-color: #fff; padding:8pt; -webkit-border-radius:20px; -moz-border-radius:20px;border-radius:20px;line-height:1.4; }
a:hover #realy { color: #fff; background-color: #f00; }/*text-decoration: underline;*/

.co-product { float: right; color: #fff; background-color: #060; padding:8pt; -webkit-border-radius:20px; -moz-border-radius:20px;border-radius:20px;line-height:1.4; }
a:hover .co-product { color: #fff; background-color: #0c9; }


.co-upper { text-transform: uppercase; }
.co-upper-text { text-transform: uppercase; font-weight: bold; color: #030; text-shadow:#396 1px 1px 2px; }
.long-text p { text-align: justify; font-size: 14pt; }

/* icons */
.co-icon { float: left; margin: 5pt 10pt 5pt 0; width:48px; display:none; }
.img-right { float: right; margin:0 0 30px 20px; width:320px; }
.img-left { float: left; }

/* song */
table#song { float: left; margin-right: 15px; font-weight: bold; }
#our-text { color: #cfc; background-color: #696; padding: 15px; }
#orig-text { color: #ccf; background-color: #669; padding: 15px; }


.hsf-warning { color: #f00; }
.hsf-discount { color: #b00; font-weight: bold; }
a:hover.hsf-discount { color: #d00; font-weight: bold; }

.co-back { padding: 5pt; background-color: #669; color: white; }

/* debug */
.co-note { background-color: #600; color: #fff; font-weight: bold; }/*display:none;*/
.co-dupl { background-color: #def; }}/*display:none;*/




