.my-note {background-color:#333;color:#3f3;}/*display:none;}*/
.from {background-color:#eee;color:#999;}/*display:none;}*/
.word {}
.w-page {border:1px #000 solid;margin:30px 0 30px 0;padding:10px;background-color:#eee;color:#333;}
.w-page-num {background-color:#000;color:#0f0;font-size:22px;font-weight:bold;}
.word .c-red {color:#f00;}
.w-my-note {background-color:#000;color:#0f0;}
a.word {color:#009;}
.word hr {display:no;}

a.internal {color:#009;}/*#14b;*/
a.external {background:url("data:image/png;base64,\
iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEVmmcwzmcyZzP8AZswAZv//\
//////9E6giVAAAAB3RSTlP///////8AGksDRgAAADhJREFUGFcly0ESAEAEA0Ei6/9P3sEcVB8k\
mrwFyni0bOeyyDpy9JTLEaOhQq7Ongf5FeMhHS/4AVnsAZubxDVmAAAAAElFTkSuQmCC") center right no-repeat;padding-right:13px;}/*color:#14b}*/



#wrapper { width: 575px; height: 300px; padding: 0; overflow: hidden; }
#scaled-frame { width: 1000px; height: 2000px; border: 0px; }
#scaled-frame {
	zoom: 1.9;
	-moz-transform: scale(1.9);
	-moz-transform-origin: 0 0;
	-o-transform: scale(1.9);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(1.9);
	-webkit-transform-origin: 0 0;
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#scaled-frame  { zoom: 1; }
}

